.about-ptsd-container{
  display: flex;
}
.about-ptsd-left{
  font-size: 14px;
  margin-top: 150px;
  font-weight:600;
  text-align: left;
  margin-left: 25px;
  letter-spacing: 1px;
  position: fixed;
}
.about-ptsd-left a{
  text-decoration: none;
  color: #000000;
}
.about-ptsd-right{
    text-align: left;
    padding-left: 40px;
    padding-top: 100px;
    max-width: 1100px;
    margin-left: 250px;
  }
  
  .about-ptsd-right h2 {
    color: #000000;
    letter-spacing: 1px;
  }
  
  .about-ptsd-right p {
    margin-top: 20px;
    font-size:medium;
    color: #515151;
    line-height: 1.6;
    margin-bottom: 80px;
    padding-left: 20px;
  }

  .about-ptsd-right h1{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .ext-link a{
    color: #0CAFBA;
    font-weight: 500;
  }
  .about-ptsd-right p ul{
    font-weight: 600;
  }

  .about-ptsd-right iframe{
    margin-bottom: 80px;
  }

  .about-ptsd-right p ol{
    font-weight: 600;
    font-size: medium;
    color: #004C4C;
  }
  .about-ptsd-right p ol ul li{
    font-weight:400;
    font-size: medium;
    color: #515151;
  }

  #what{
    padding-top: 70px;
  }

  #who{
    padding-top: 70px;
  }
  #signs{
    padding-top: 70px;
  }

  #treatment{
    padding-top: 70px;
  }
  #friendsandfam{
    padding-top: 70px;
  }

  .Banner{
    width: 1229px;
    border-radius: 30px 0px 0px 30px;
  }