/* Center the login page content */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/src/assets/bg/login_background.svg');
  background-size: cover;
  background-position: center;
}

.logo-outside {
  width: 100px; /* Adjust size as needed */
  margin-bottom: 5px;
}

.login-page p{
  color: white;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 60px;
  letter-spacing: 3px;
}

/* Style the login container */
.login-container {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: #00000087;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: left;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.login-container input[type="email"]::placeholder,
.login-container input[type="password"]::placeholder {
  color: #aaa;
  font-family: 'Poppins';
  font-size: 14px;
  opacity: 1; 
}
.login-container .error-message{
  color: red;
  font-size: small;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

 .button-container button {
  margin-left: 120px;
  margin-right: 120px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #00B7C3;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #45a049;
}

.login-container .message {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
}

.login-container .message a{
  color: #00B7C3;
}

.google-login {
  margin-top: 20px;
}

.google-button {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  width: 70%;
  background-color: #00b6c300;
  border: 1px solid #ccc;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.google-button:hover {
  background-color: #000000;
  border: 1px solid #000000;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}