.profile-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .profile-dropdown p {
    font-size: 14px;
    text-align: left;
    color: #000000;
    margin: 10px 0 10px;
  }
  
  .profile-dropdown button {
    width: 100%;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-dropdown button:hover {
    background-color: #d4d4d4;
  }
  